{% extends "layout.html" %}

{% block script %}

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

<script>

    // DOM Content loaded script
    document.addEventListener('DOMContentLoaded', () => {

        // Connect to websocket
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

        // When connected, configure buttons
        socket.on('connect', () => {

            console.log('CONNECTED!!!')

            // Join room on connection
            socket.emit('join', { 'channelName': '{{ channelName|safe }}', 'username': localStorage.getItem('username')});

            // Message form should emit a "submit message" event on submission
            document.querySelector('#new-message').onsubmit = () => {

                // Add data to send with new message
                const content = document.querySelector('#message').value;
                const username = localStorage.getItem('username');
                const channelName = '{{ channelName|safe }}';

                // Emit submit message
                socket.emit('submit message', {'content': content, 'username': username, 'channelName': channelName});

                // Clear input field
                document.querySelector('#message').value = '';

                // Stop form from submitting
                return false;
            };

            // File form should emit a "submit file" event on submission
            document.querySelector('#upload-file').onsubmit = () => {

                if (document.getElementById('file').files[0]) {

                    // Add data to send with file
                    const file = document.getElementById('file').files[0];

                    // Create a file reader and use it to export and emit file data as DataURL
                    const reader = new FileReader();
                    reader.addEventListener("load", function () {

                        // convert image file to base64 string
                        source = reader.result;

                        // Emit submit file
                        socket.emit('submit file', {'file': source, 'username': localStorage.getItem('username'), 'channelName': '{{ channelName|safe }}'});

                    }, false);

                    reader.readAsDataURL(file);

                    // Clear input field
                    document.querySelector('#file').value = '';
                }

                // Stop form from submitting
                return false;
            };
        });

        // When a new message is announced, add to the unordered list and send a received message
        socket.on('announce message', data => {
            const li = document.createElement('li');
            li.innerHTML = `<span class="font-weight-bold">[<a href="{{ url_for('privateMessage', targetName='targetName', username=username) }}">${data.username}</a> @ ${data.datetime}]</span>: ${data.content}`.replace('targetName', `${data.username}`);
            document.querySelector('#messages').append(li);
            socket.emit('message received', {'username': localStorage.getItem('username'), 'channelName': '{{ channelName|safe }}'});
        });

        // When a new file is announced, add to the unordered list
        socket.on('announce file', data => {
            const li = document.createElement('li');
            li.innerHTML = `<span class="font-weight-bold">[<a href="{{ url_for('privateMessage', targetName='targetName', username=username) }}">${data.username}</a> @ ${data.datetime}]</span>: <img id="blah2" height=200 src="${data.file}" alt="your image 2" />`.replace('targetName', `${data.username}`);
            document.querySelector('#messages').append(li);
            socket.emit('file received', {'username': localStorage.getItem('username'), 'channelName': '{{ channelName|safe }}'});
        });

        // Enable button only if there is text in the input field
        document.querySelector('#message').onkeyup = () => {
            if (document.querySelector('#message').value.length > 0)
                document.querySelector('#send-message-btn').disabled = false;
            else
                document.querySelector('#send-message-btn').disabled = true;
        };

    });
</script>
{% endblock %}


{% block heading %}
    FlaCK Channel: {{ channelName }}
    <hr>
    <h3>Your username: {{ username }}</h3>
{% endblock %}


{% block body %}

<!-- Main container -->
<div class="container">

    <!-- First Row: Messages, new message form -->
    <div class="row">

        <!-- Main column -->
        <div class="col-sm-9">

            <!-- Message list -->
            <h2>Messages</h2>

            <ul id="messages" class="list-unstyled">
                {% for message in messages %}

                    {% if 'image' in message[2] %}
                        <li><span class="font-weight-bold">[<a href="{{ url_for('privateMessage', targetName=message[0], username=username) }}">{{ message[0] }}</a> @ {{ message[1] }}]</span>: <img height=200 src="{{ message[2] }}"></li>
                        <!-- <li><span class="font-weight-bold">[{{ message[0] }}]</span>: <img height=200 src="/instance/uploads/{{ message[1] }}"></li> -->
                    {% else %}
                        <li><span class="font-weight-bold">[<a href="{{ url_for('privateMessage', targetName=message[0], username=username) }}">{{ message[0] }}</a> @ {{ message[1] }}]</span>: {{ message[2] }}</li>
                    {% endif %}

                {% endfor %}
            </ul>
            <!-- Message list -->

            <hr>
            
            <!-- New message form -->
            <form id="new-message">
                <input id="message" autocomplete="off" autofocus placeholder="New message" type="text" class="form-control input-lg">
                <input id="send-message-btn" type="submit" value="Send" class="btn btn-secondary">
            </form>
            <!-- New message form -->

        </div>
        <!-- Main column -->

        <div class="col-sm-3"></div>
    </div>
    <!-- First Row: Messages, new message form -->

    <hr>

    <!-- Second Row: Upload file form, leave channel button -->
    <div class="row">

        <!-- Left column -->
        <div class="col-sm-6">

            <!-- Upload file form -->
            <form id="upload-file" method="post" enctype="multipart/form-data">
                <label for="file">Upload a file to the channel: </label>
                <input name="file" id="file" type="file">
                <input id="upload-file-btn" type="submit" value="Upload" class="btn btn-secondary">
                <script>document.querySelector('#send-message-btn').disabled = true;</script>
            </form>
            <!-- Upload file form -->

        </div>
        <!-- Left column -->

        <!-- Right column -->
        <div class="col-sm-6">
            <a href='{{ url_for("home") }}'><button type="button" class="btn btn-secondary">Leave Channel</button></a>
        </div>
        <!-- Right column -->

    </div>
    <!-- Second Row: Upload file form, leave channel button -->

</div>
<!-- Main container -->

{% endblock %}
